@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* bg-gradient-to-tr from-[#59F8E8] from-30% via-[#20A4F3] via-21% via-[#20A4F3] via-10% to-[#20A4F3] to-90%
              bg-gradient-to-t from-[#20A4F3] from-0% via-[#20A4F3] via-2% to-[#59F8E8] to-2% */
.css-flex1-text{
  background-image: linear-gradient(to top right, #20A4F3,rgba(32, 164, 243, 0.1), rgba(32, 164, 243, 0.21), #59F8E8)
}
.css-gradient{
  position: relative;
  background-image: linear-gradient(to top,rgba(32, 164, 243, 0),  rgba(56, 199, 238,0.02), rgba(89, 248, 232,0.02) );
  /* background */
}
.css-h2{
  display: inline-block;
  background-image: linear-gradient(to right, #20A4F3, #59F8E8);
  background-clip: text;
  color:  transparent;
}
.css-flex2{
  position: relative;
  background-image: linear-gradient( #0F1212 0%, rgba(32, 166, 243,0.1) 100%);
}

.css-presales{
  background-image: linear-gradient(to top right,rgba(32, 164, 243, 0.05) 10%,  #0F1212 30%, 80%, rgba(89, 248, 232,0.05) 90%);
}
.css-presale{
  background-image: linear-gradient(to top left, rgba(32, 164, 243, 0.0) 30%,#20A4F3 40%, 80%, #59F8E8 90%)

}
.css-presale-box{
  background-image: linear-gradient(to top left,rgba(32, 164, 243, 0.05) 10%,  #0F1212 40%, 60%, rgba(89, 248, 232,0.05) 80%);
}